<%- include('../modules/head') %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%- include('modules/sidebar') %>

            </div>
            <div class="col-md-9">
                <div class="d-flex align-items-center justify-content-center">

                    <form action="/recruiter/" method="post" id="editProfileForm">

                        <h1 class="text-center">Profile Setting</h1>
                        <hr>
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <label class="labels">User Address</label><input type="text" class="form-control"
                                    name="address" placeholder="Address" value="<%= data.user.address %>">
                            </div>

                            <div class="col-md-12 pb-5 mt-3">
                                <label class="labels">User Phone</label><input type="text" class="form-control"
                                    name="phone" placeholder="enter phone number" value="<%= data.user.phone %>">
                            </div><br>
                            <div class="col-md-12">
                                <label class="labels" style="margin-top: 0px;">Company Name</label><input type="text"
                                    class="form-control" name="companyName" placeholder="Company Name"
                                    value="<%= data.recruiter.companyName %>">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="labels mt-3">Email</label><input type="text" class="form-control"
                                    name="email" placeholder="Email" value="<%= data.credential.email %>" readonly>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mt-3">
                                    <label for="phone">Contact Number</label>
                                    <input type="text" class="form-control" name="contactNumber"
                                        placeholder="Contact Number" contenteditable="false"
                                        value="<%= data.recruiter.contactNumber %>">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mt-3">
                                    <label for="address">Company Address</label>
                                    <input type="text" class="form-control" name="companyAddress"
                                        placeholder="Company Address" value="<%= data.recruiter.companyAddress %>">
                                </div>

                                <div class="col-md-12">
                                    <label class="labels mt-3">Year of Establishment</label><input type="text"
                                        id="yearOfEstablishment" class="form-control" name="yearOfEstablishment"
                                        placeholder="Year of Establishment"
                                        value="<%= data.recruiter.yearOfEstablishment %>">
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group mt-3">
                                        <label for="address">Country</label>
                                        <input type="text" name="country" class="form-control" id="country"
                                            placeholder="Country" value="<%= data.recruiter.country %>">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group mt-3">
                                        <label for="address">Region</label>
                                        <input type="text" name="region" class="form-control" id="address"
                                            placeholder="Region" value="<%- data.recruiter.region %>">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="labels mt-3">Business Description</label><input type="text"
                                        class="form-control" name="businessDescription"
                                        placeholder="Business Description"
                                        value="<%- data.recruiter.businessDescription %>">
                                </div>

                                <div class="col-md-12">
                                    <label class="labels mt-3">Business/Trading License No.</label><input type="text"
                                        class="form-control" name="tradingLicense"
                                        placeholder="Business/Trading License No."
                                        value="<%- data.recruiter.tradingLicense %>">
                                </div>
                                <div class="col-md-12">
                                    <label class="labels mt-3">Website URL</label><input type="text" name="websiteURL"
                                        class="form-control" name="websiteURL" placeholder="Website URL"
                                        value="<%- data.recruiter.websiteURL %>">
                                </div>

                            </div>
                            <div id="message" class="mt-5 text-center" style="color: red;">

                            </div>
                            <div class="mt-2 text-center mb-5"><button class="btn btn-dark profile-button"
                                    type="submit">Save
                                    Profile</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    </body>

    </html>