<%- include('../modules/head') %>

    <!--profile starts-->

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 border-right">

                <!--image part starts-->
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">
                        <%=data.user.name %>
                    </span>
                    <span class="text-black-50">
                        <%=data.credential.email %>
                    </span><span> </span>
                </div>
                <!-- image part ends-->

            </div>

            <form id="updateProfile" action="/recruiter/" method="post">
                <div class="col-md-12 border-right">
                    <div class="p-3 py-5">
                        <div class=" justify-content-between align-items-center mb-3">
                            <h2 class="text-center">Profile Settings</h2>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label class="labels">Company Name</label><input type="text" name="companyName"
                                    class="form-control" placeholder="Company Name" value="">
                            </div>

                            <div class="col-md-12">
                                <label class="labels">User's Email</label><input type="email" name="usersEmail"
                                    class="form-control" value="<%=data.credential.email %>" readonly
                                    placeholder="User's Email">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Contact Number</label><input type="text" name="contractNumber"
                                    class="form-control" placeholder="Enter mobile number" value="">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Year of Establishment</label><input type="number"
                                    name="yearOfEstablishment" class="form-control"
                                    placeholder="Company's Establishment Year" value="" maxlength="4">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels">Country</label><input type="text" name="country"
                                    class="form-control" placeholder="country" value="">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Region</label><input type="text" name="region"
                                    class="form-control" value="" placeholder="state">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Company Address</label><input type="text" name="companyAddress"
                                    class="form-control" value="" placeholder="Write Company Address">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Business Description</label><input type="text"
                                    name="businessDescription" class="form-control" value=""
                                    placeholder="Write Business Description">
                            </div>

                            <div class="col-md-6">
                                <label class="labels">Business/Trading License No.</label><input type="text"
                                    name="tradingLicense" class="form-control"
                                    placeholder="Business/Trading License No." value="">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Website URL</label><input type="text" name="websiteURL"
                                    class="form-control" value="" placeholder="Write Website URL">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-PRIMARI profile-button" type="submit">Save Profile</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <script src="/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/js/recruiter/profile.js"></script>

        </body>

        <!--footer starts-->

        <%- include('../modules/foot') %>